@import './base.css';

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--vt-c-black);
  color: var(--vt-c-white);
  width: 100vw;
  height: 100vh;
  gap: 10px;
}